/.metadata/
waresMyStuff/Logging
waresMyStuff/.classpath
Servers
waresMyStuff/.metadata
waresMyStuff/WebContent/WEB-INF/classes
waresMyStuff/srcTest/.classpath
waresMyStuff/srcTest/.project
waresMyStuff2/
waresMyStuff/.settings/.jsdtscope
